<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309523286996-2m4e6fft2cgbtv2b5ga9n1r8il6rcnb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309523286996-2m4e6fft2cgbtv2b5ga9n1r8il6rcnb0</string>
	<key>API_KEY</key>
	<string>AIzaSyA6nnmxx0BFUthGEOjuViS6SJcTNg04EGs</string>
	<key>GCM_SENDER_ID</key>
	<string>309523286996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-db0c9</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-db0c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309523286996:ios:6280393d9464d905bb6441</string>
</dict>
</plist>